* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: blanchedalmond;
  color: #2f3640;
  line-height: 1.6;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  align-items: center;
}

.heading-text {
  text-align: center;
  justify-content: center;
  align-items: center;
}
